{% extends 'base.html' %}

{% block head %}
<title>PDA - Dashboard</title>
{% endblock %}


{% block body %}
<section class="vh-200 main-bg-light">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-black">


                <div class="mb-5 text-center">
                    <i class="fa-solid fa-user-plus fa-2x me-3 text-custom-primary-light"></i>
                    <span class="h2 fw-bold mb-0">{{session.DTYPE}} Profile</span>
                </div>

                <form action="{{url_for('medform')}}" method="POST" class="row g-3" name="medform" enctype="multipart/form-data">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="uname">
                            <i class="fa-solid fa-user-tag me-3 text-custom-accent text-custom-accent"></i>Username</label>
                        <input type="text" name="uname" class="form-control form-control-md glass" required
                            value="{{session.UNAME}}" />
                    </div>

                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="uid">
                            <i class="fa-solid fa-address-card me-3 text-custom-accent"></i>User ID</label>
                        <input type="text" name="uid" class="form-control form-control-md glass" required
                            value="{{session.UID}}" disabled/>
                    </div>

                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="uage">
                            <i class="fa-solid fa-calendar-days me-3 text-custom-accent"></i>Age</label>
                        <input type="number"
                            {% if session.DTYPE=="Donor" %} 
                                min="18" max="65" 
                            {% else %}
                                min="0" max="120"
                            {%endif%}
                            name="uage" class="form-control form-control-md glass" placeholder="Enter Age"
                            required value="{{session.UAGE}}" />
                    </div>


                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="gender">
                            <i class="fa-solid fa-person-half-dress me-3 text-custom-accent  glass"></i>Gender</label>
                        <select class="form-select glass" name="gender" aria-placeholder="Select Gender" required>
                            <option value="..." hidden selected>...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">Transgender</option>
                        </select>
                    </div>


                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="weight">
                            <i class="fa-solid fa-address-card me-3 text-custom-accent"></i>Weight</label>
                        <input type="number" 
                            {% if session.DTYPE=="Donor" %} 
                                min="45" 
                            {% else %}
                                min="0"
                            {%endif%}
                            name="weight" class="form-control form-control-md glass" required
                                value="{{session.WEIGHT}}" />
                    </div>


                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label" for="bgroup">
                            <i class="fa-solid fa-droplet me-3 text-custom-accent"></i>Blood Group</label>
                        <div class="input-group">
                            <select class="form-select glass" name="bgroup" aria-placeholder="Select Blood Group" required>
                                <option value="..." hidden selected>...</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="AB">AB</option>
                                <option value="O">O</option>
                            </select>
                            <select class="form-select glass" name="rh" aria-placeholder="Select Rh Factor" required>
                                <option value="..." hidden selected>...</option>
                                <option value="+ve">+ve</option>
                                <option value="-ve">-ve</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-outline mb-4 col-12">
                        <label for="addr">
                            <i class="fa-solid fa-location-dot me-3 text-custom-accent"></i>Address</label>
                        <textarea class="form-control address glass" name="addr" 
                            rows="4" placeholder="Enter Address" required>{{session.ADDR}}</textarea>
                    </div>

                    <div class="form-outline mb-4 col-md-4">
                        <label for="st" class="form-label">
                            <i class="fa-solid fa-map-location-dot me-3 text-custom-accent"></i>State</label>
                        <select name="st" id="st" class="form-select glass" required>
                            <option value="..." hidden selected>...</option>
                        </select>
                    </div>

                    <div class="form-outline mb-4 col-md-4">
                        <label for="city" class="form-label">
                            <i class="fa-solid fa-tree-city me-3 text-custom-accent"></i>City</label>
                        <select name="city" id="city" class="form-select glass" required>
                            <option value="..." hidden selected>...</option>
                        </select>
                    </div>

                    <div class="form-outline mb-4 col-md-4">
                        <label for="zip" class="form-label">
                            <i class="fa-solid fa-signs-post me-3 text-custom-accent"></i>ZIP Code</label>
                        <input name="zip" type="number" min="100000" max="999999" 
                            value="{{session.ZIP}}" class="form-control glass" placeholder="Enter Postal Code" required>
                    </div>

                    <div class="w-100 d-flex align-items-center justify-content-center mb-5 col-md-6">
                        <button class="btn btn-dark custom-primary text-white btn-lg btn-block btn-rounded" type="submit">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    let medform = document.forms['medform'];
    let fields = [medform['gender'], medform['bgroup'], medform['rh']];
    let counter = 0;
    let fnames = ['{{session.GENDER}}', '{{session.BGROUP}}', '{{session.RH}}'];
    
    fields.forEach(function(field){

        for(let i=0; i < field.options.length; i++)
            if(field.options[i].value == fnames[counter])
                field.selectedIndex = i;
        counter+=1;

    });

    medform.addEventListener('submit', e => {
        fields.forEach(function(field){
            if(field.selectedIndex == 0){
                field.focus();
                e.preventDefault();
            }
        });
    });


    let headers = new Headers();
    headers.append("X-CSCAPI-KEY", "QWhITWNrZktqcjJGQzhQb1BXY2tPclRnNkxxWmZvUU5hNlF6Tmp6bA==");

    let requestOptions = {
        method: 'GET',
        headers: headers,
        redirect: 'follow'
    };

    let state_select = medform['st'], city_select = medform['city'];    //state and city dropdowns
    let selected_code, st_data;
    let def_names = ['{{session.ST}}', '{{session.CITY}}'];

    state_select.addEventListener('change', function(){
        initCity();
    });
    
    fetch("https://api.countrystatecity.in/v1/countries/IN/states", requestOptions) //fetch list of states and union territories
        .then(response => response.json())
        .then(state_vals => init(state_vals))
        .catch(error => console.log('error', error));


    function init(state_vals) {  //populate state dropdown with the fetched values
        st_data = state_vals;

        st_data.sort((x, y) => {     //sort states in alphabetical order
            let a = x['name'], b = y['name'];
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        })

        for (let i = 0; i < st_data.length; i++) {
            state_select.innerHTML += '<option value="' + st_data[i]['name'] + '">' + st_data[i]['name'] + '</option>';
        }

        selectDefault(state_select, 0);
    }


    function populate(cities) {  //populate list with the fetched states
        
        city_select.innerHTML = '<option value="..." hidden selected>...</option>'; //initiate dropdown before filling new city values

        for (let i = 0; i < cities.length; i++)
            city_select.innerHTML += '<option value="' + cities[i]['name'] + '">' + cities[i]['name'] + '</option>';

        selectDefault(city_select, 1);
    }

    function selectDefault(field, c){

        for(let i=0; i < field.options.length; i++)
            if(field.options[i].value == def_names[c])
                field.selectedIndex = i;

        if(field == state_select)
            initCity();

    }

    function initCity() {     //listen to changes in the state dropdown list
        
        if(state_select.selectedIndex == 0) //return if state list is still empty or being fetched from the api
            return;

        for (let i = 0; i < st_data.length; i++) 
            if (st_data[i]['name'] == state_select.value)
                selected_code = st_data[i]['iso2'];     //find the two letter code of the currently selected state

        fetch("https://api.countrystatecity.in/v1/countries/IN/states/" + selected_code + "/cities", requestOptions)    //fetch cities in the selected state
            .then(response => response.json())
            .then(cities => populate(cities))
            .catch(error => console.log('error', error));
    }

</script>
{% endblock %}
</body>

</html>